{
    "presets": [
      [
        "@babel/preset-env",
        {
          "corejs": "3",
          "useBuiltIns": "usage",
          "modules": false
        }
      ]
    ],
    "plugins": [
      ["@babel/plugin-transform-modules-commonjs", {
        "allowTopLevelThis": true
      }]
    ]
  }

  